<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Academics </title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
	<!-- Normalize CSS -->
	<link rel="stylesheet" href="~/Fronted/css/normalize.css">
	<!-- Main CSS -->
	<link rel="stylesheet" href="~/Fronted/css/main.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/Fronted/css/bootstrap.min.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="~/Fronted/css/animate.min.css">
	<!-- Font-awesome CSS-->
	<link rel="stylesheet" href="~/Fronted/css/font-awesome.min.css">
	<!-- Owl Caousel CSS -->
	<link rel="stylesheet" href="~/Fronted/vendor/OwlCarousel/owl.carousel.min.css">
	<link rel="stylesheet" href="~/Fronted/vendor/OwlCarousel/owl.theme.default.min.css">
	<!-- Main Menu CSS -->
	<link rel="stylesheet" href="~/Fronted/css/meanmenu.min.css">
	<!-- nivo slider CSS -->
	<link rel="stylesheet" href="~/Fronted/vendor/slider/css/nivo-slider.css" type="text/css" />
	<link rel="stylesheet" href="~/Fronted/vendor/slider/css/preview.css" type="text/css" media="screen" />
	<!-- Datetime Picker Style CSS -->
	<link rel="stylesheet" href="~/Fronted/css/jquery.datetimepicker.css">
	<!-- Magic popup CSS -->
	<link rel="stylesheet" href="~/Fronted/css/magnific-popup.css">
	<!-- Switch Style CSS -->
	<link rel="stylesheet" href="~/Fronted/css/hover-min.css">
	<!-- ReImageGrid CSS -->
	<link rel="stylesheet" href="~/Fronted/css/reImageGrid.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="~/Fronted/style.css">
	<!-- Select2 CSS -->
	<link rel="stylesheet" href="~/Fronted/css/select2.min.css">
	<!-- Nouislider Style CSS -->
	<link rel="stylesheet" href="~/Fronted/vendor/noUiSlider/nouislider.min.css">
	<!-- Modernizr Js -->
	<script src="~/Fronted/js/modernizr-2.8.3.min.js"></script>
	<style>
		.footer-area-top{
			background: #213f34;
		}

		.bg-primary {
			background: #fff !important;
		}
		.students-join1-area {
		    background: #ffffff;
		}

		nav#desktop-nav ul li a {
			color: #04ab16;
		}

		#sticker {
			background: #ffffff;
		}

		.footer-area-top .featured-links > li ul li:before {
		    color: #fff;
		}

		.footer-area-top .corporate-address li i {
			color: #fff;
		}

		#scrollUp {
			background-color: #18a061;
		}
		.footer-area-top .newsletter-area .stylish-input-group .input-group-addon button i {
            color: #fff;
		}

		.apply-now-btn{
			color: #198754 !important;
		}

		.inner-page-banner-area .pagination-area ul li a {
			color: #198754;
		}
		.footer-area-bottom{
			background: #2d654b;
		}

		.apply-now-btn:hover {
			background: #fdc800;
			color: #ffffff !important;
		}

		a.apply-now-btn {
			background: #198754;
			color: #ffffff !important;
		}
	</style>
	<style>
		.float {
			position: fixed;
			width: 60px;
			height: 60px;
			bottom: 40px;
			right: 40px;
			background-color: #25d366;
			color: #FFF;
			border-radius: 50px;
			text-align: center;
			font-size: 30px;
			box-shadow: 2px 2px 3px #999;
			z-index: 100;
		}

		.my-float {
			margin-top: 16px;
		}

		.float {
			bottom: 61px;
			right: 15px;
		}
	</style>
</head>
<body>
	<!-- Preloader Start Here -->
	<div id="preloader"></div>
	<!-- Preloader End Here -->
	<!-- Main Body Area Start Here -->
	<div id="wrapper">
		<header>
			<div id="header1" class="header1-area">
				<div class="main-menu-area bg-primary" id="sticker">
					<div class="container">
						<div class="row">
							<div class="col-lg-2 col-md-3">
								<div class="logo-area">
									<a href="/Home/Index"><img class="img-responsive" src="~/Fronted/img/alliancelogo.jpeg" alt="logo"></a>
									@* <a href="/Home/Index"><img class="img-responsive" src="~/Fronted/img/appman logo.png" alt="logo"></a> *@
								</div>
							</div>
							<div class="col-lg-8 col-md-9">
								<nav id="desktop-nav">
									<ul>
										<li id="home">
											<a href="/Home/Index">Home</a>
										</li>
										<li id="about">
											<a href="/Home/About">About</a>
										</li>
										<li id="courses">
											<a href="/Home/Courses">Courses</a>
										</li>
										<li id="news">
											<a href="/Home/News">News</a>
										</li>
										<li id="facilities">
											<a href="/Home/Facilities">Facilities</a>
										</li>
										<li id="gallery">
											<a href="/Home/Gallery">Gallery</a>
										</li>
										<li id="career">
											<a href="/Home/Carrer">Career</a>
										</li>
									</ul>
								</nav>
							</div>
							<div class="col-lg-2 d-none d-lg-block">
								<div class="apply-btn-area">
									<a href="\Home\Contact" class="apply-now-btn">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Mobile Menu Area Start -->
			<div class="mobile-menu-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="mobile-menu">
								<nav id="dropdown">
									<ul>
										<li>
											<a href="\Home\Index">Home</a>
										</li>
										<li>
											<a href="\Home\About">About Us</a>
										</li>
										<li>
											<a href="\Home\Courses">Courses</a>
										</li>
										<li>
											<a href="\Home\News">News</a>
										</li>
										<li>
											<a href="\Home\Facilities">Facilities</a>
										</li>
										<li>
											<a href="\Home\Gallery">Gallery</a>
										</li>
										<li>
											<a href="\Home\Carrer">Carrer</a>
										</li>
										<li>
											<a href="\Home\Contact">Contact</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>
		@RenderBody()
		<footer>
			<div class="footer-area-top">
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
							<div class="footer-box">
								<a href="\Home\Index"><img class="img-responsive" src="~/Fronted/img/alliancelogo.jpeg" alt="logo"></a>
							@* <a href="\Home\Index"><img class="img-responsive" src="~/Fronted/img/appman_logo-removebg-preview.png" alt="logo"></a> *@
								<div class="footer-about">
								<p>We have created the most efficient teaching methodologies and revolutionizing education.</p>
								</div>
								<ul class="footer-social">
								<li><a href="https://www.facebook.com/appmantech" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="https://x.com/i/flow/login?redirect_after_login=%2FAppmanTechno" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="https://www.linkedin.com/company/appmantech" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/appmantech" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-1 col-lg-1 col-md-6 col-sm-12">
						</div>
						<div class="col-xl-2 col-lg-2 col-md-6 col-sm-12">
							<div class="footer-box">
								<h3>Featured Links</h3>
								<ul class="featured-links">
									<li>
										<ul>
											<li><a href="\Home\Index">Home</a></li>
											<li><a href="\Home\About">About Us</a></li>
											<li><a href="\Home\Courses">Courses</a></li>
											<li><a href="\Home\News">News</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
							<div class="footer-box">
								<h3>Featured</h3>
								<ul class="featured-links">
									<li>
										<ul>
											<li><a href="\Home\Facilities">Facilities</a></li>
											<li><a href="\Home\Gallery">Gallery</a></li>
											<li><a href="\Home\Carrer">Carrer</a></li>
											<li><a href="\Home\Contact">Contact Us</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
							<div class="footer-box">
								<h3>Information</h3>
								<ul class="corporate-address">
									@* <li><i class="fa fa-phone" aria-hidden="true"></i><a href="Phone"> 9438564987 </a></li>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i>allianceedu.iie@gmail.com</li>
								    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Plot No:-A/6, Nilakantha Nager, Backside of Passport Office, Nayapallii, Unit-8,Bhubaneswar-12</li> *@
								<li><i class="fa fa-phone" aria-hidden="true"></i><a href="Phone"> 9583777737 </a></li>
								<li><i class="fa fa-envelope-o" aria-hidden="true"></i>info@appman.tech</li>
								<li><i class="fa fa-map-marker" aria-hidden="true"></i>Plot No:-J14, BJB Nager, Bhubaneswar , Odisha-751014</li>
								</ul>
							@*	<h3>Address</h3>
								<ul class="corporate-address">
									<li><i class="fa fa-map-marker" aria-hidden="true"></i>Plot No:-A/6, Nilakantha Nager, Backside of Passport Office, Nayapallii, Unit-8,Bhubaneswar-12</li>
								</ul>*@
						   		@*<div class="newsletter-area">
									<h3>Newsletter</h3>
									<div class="input-group stylish-input-group">
										<input type="text" placeholder="Enter your e-mail here" class="form-control">
										<span class="input-group-addon">
											<button type="submit">
												<i class="fa fa-paper-plane" aria-hidden="true"></i>
											</button>
										</span>
									</div>
								</div>*@
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-area-bottom">
				<div class="container">
					<div class="row">
						<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
						<p>&copy; 2024 Institute All Rights Reserved.&nbsp;Design & Developed by<a target="_blank" href="https://appman.tech/" rel="nofollow">  Appman Technologies Pvt. Ltd.</a></p>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
						<div class="card" style="WIDTH: 53%;HEIGHT: AUTO;PADDING: 4px 5px 2px 16px;BORDER-RADIUS: 10px;">
							<ROW>
								VISITOR COUNT - <span id="VISITOR"></span>
							</ROW>
							
						</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	<!-- Main Body Area End Here -->
	<a href="https://api.whatsapp.com/send?phone=9583777737"
	   class="float"
	   target="_blank">
		<i class="fa fa-whatsapp my-float"></i>
	</a>

	@await RenderSectionAsync("Scripts", required: false)
	<!-- jquery-->
	<script src="~/Fronted/js/jquery-2.2.4.min.js" type="text/javascript"></script>
	<!-- Plugins js -->
	<script src="~/Fronted/js/plugins.js" type="text/javascript"></script>
	<!-- Bootstrap js -->
	<script src="~/Fronted/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- WOW JS -->
	<script src="~/Fronted/js/wow.min.js"></script>
	<!-- Nivo slider js -->
	<script src="~/Fronted/vendor/slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
	<script src="~/Fronted/vendor/slider/home.js" type="text/javascript"></script>
	<!-- Owl Cauosel JS -->
	<script src="~/Fronted/vendor/OwlCarousel/owl.carousel.min.js" type="text/javascript"></script>
	<!-- Meanmenu Js -->
	<script src="~/Fronted/js/jquery.meanmenu.min.js" type="text/javascript"></script>
	<!-- Srollup js -->
	<script src="~/Fronted/js/jquery.scrollUp.min.js" type="text/javascript"></script>
	<!-- jquery.counterup js -->
	<script src="~/Fronted/js/jquery.counterup.min.js"></script>
	<script src="~/Fronted/js/waypoints.min.js"></script>
	<!-- Countdown js -->
	<script src="~/Fronted/js/jquery.countdown.min.js" type="text/javascript"></script>
	<!-- Isotope js -->
	<script src="~/Fronted/js/isotope.pkgd.min.js" type="text/javascript"></script>
	<!-- Select2 Js -->
	<script src="~/Fronted/js/select2.min.js" type="text/javascript"></script>
	<!-- Nouislider Js -->
	<script src="~/Fronted/vendor/noUiSlider/nouislider.min.js" type="text/javascript"></script>
	<!-- Validator js -->
	<script src="~/Fronted/js/validator.min.js" type="text/javascript"></script>
	<!-- Magic Popup js -->
	<script src="~/Fronted/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
	<!-- Gridrotator js -->
	<script src="~/Fronted/js/jquery.gridrotator.js" type="text/javascript"></script>
	<!-- Custom Js -->
	<script src="~/Fronted/js/main.js" type="text/javascript"></script>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			var links = document.querySelectorAll("ul li a");

			var currentPath = window.location.pathname;

			links.forEach(function (link) {
				if (link.getAttribute('href') === currentPath) {
					links.forEach(l => l.parentElement.classList.remove('active'));
					link.parentElement.classList.add('active');
				}
			});
		});
	</script>

	<script>
		$(document).ready(function () {
			// Check if the visitor count is stored in localStorage
			let visitorCount = localStorage.getItem('visitorCount');

			if (visitorCount === null) {
				// If no visitor count is found, initialize it to 0
				visitorCount = 0;
			}

			// Increment the visitor count
			visitorCount++;

			// Store the updated visitor count in localStorage
			localStorage.setItem('visitorCount', visitorCount);

			// Display the visitor count in the HTML
			$('#VISITOR').text(visitorCount);
		});
	</script>
</body>
</html>
